@using Services
@inject MeddyExplorerState meddyExplorerState

<div class="mud-width-full mud-height-full pa-3">
    @if (meddyExplorerState.SelectedFiles.Any())
    {
        <div class="mud-width-full d-flex align-center justify-center" style="aspect-ratio: 1;">
            <MudIcon Icon="@MELFileSystemFunctionLibrary.GetFileSystemInfoIcon(meddyExplorerState.SelectedFiles)" Size="@Size.Large" />
        </div>
        <MudTextField T="string" Text="@MELFileSystemFunctionLibrary.GetFileSystemInfoNameString(meddyExplorerState.SelectedFiles)" Margin="@Margin.Dense" Variant="@Variant.Outlined" />
        <MudText Typo="@Typo.h5">
            Details
        </MudText>
        <MudText Typo="@Typo.body1">
            Date: @MELFileSystemFunctionLibrary.GetFileSystemInfoDateString(meddyExplorerState.SelectedFiles)
        </MudText>
        <MudText Typo="@Typo.body1">
            Type: @MELFileSystemFunctionLibrary.GetFileSystemInfoTypeString(meddyExplorerState.SelectedFiles)
        </MudText>
        <MudText Typo="@Typo.body1">
            Size: @MELFileSystemFunctionLibrary.GetFileSystemInfoSizeString(meddyExplorerState.SelectedFiles)
        </MudText>
    }
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        meddyExplorerState.OnSelectedFilesChanged += OnSelectedFilesChanged;
    }

    protected void OnSelectedFilesChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
